.results-list-container {
  width: 100%;
  background: #EEEEEE;
}

.results-list {
  width: 80%;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.result-item-container {
  list-style: none;
  align-items: center;
  display: flex;
}

.result-item-container a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.item-price-container {
  font-size: 24px;
  padding-bottom: 32px;
  display: flex;
}

.item-price-container img {
  width: 20px;
  height: 20px;
}

.item-price-container span:first-child {
  padding-right: 8px;
}

.item-title-container {
  font-size: 18px;
}

.item-image-container {
  margin: 16px;
  width: 180px;
  height: 180px;
}

.item-image-container img {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  cursor: pointer;
}

.item-price-container .price-decimals {
  font-size: 12px;
  position: relative;
  top: -8px;
}

.free-shipping-img {
  padding-left: 8px;
}

.location-container {
  margin-left: auto;
  margin-right: 10%;
}

.breadcrumb {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 14px;
  list-style: none;
  display: flex;
}

.breadcrumb li {
  color: #999999;
}

.breadcrumb li:after {
  content:'\3E';
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.breadcrumb li:last-child {
  font-weight: bold;
}

.breadcrumb li:last-child:after {
  content: none;
}

.item-detail-container {
  width: 80%;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.item-detail-header-container {
  display: flex;
}

.item-detail-image-container {
  width: 680px;
  height: 680px;
}

.item-detail-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: contain;
}

.item-detail-info-container {
  margin-left: auto;
  margin-right: 32px;
  margin-top: 32px;
}

.item-detail-condition-and-qty {
  font-size: 14px;
}

.item-detail-title {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
}

.item-detail-price-container {
  font-size: 48px;
  margin-top: 32px;
}

.item-detail-purchase-button {
  margin-top: 32px;
}

.item-detail-desc-container {
  margin-top: 32px;
  margin-left: 32px;
}

.item-detail-desc-title {
  font-size: 28px;
}

.item-detail-desc-body {
  font-size: 16px;
  white-space: pre-wrap;
}

.base-button {
  width: 200px;
  height: 36px;
  background-color: #3483FA;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

.item-detail-price-container .price-decimals {
  font-size: 20px;
  position: relative;
  top: -20px;
}
